absl-py==2.1.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.14.0
altair==4.2.2
annotated-types==0.7.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
blosc2==2.5.1
-e git+https://github.com/SohierDane/BigQuery_Helper@8615a7f6c1663e7f2d48aa2b32c2dbcb600a440f#egg=bq_helper
build==1.2.2.post1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.21
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
dataclasses-json==0.6.7
datallm==0.2.6
datasets==2.19.0
db-dtypes==1.2.0
DB-helper==1.1.0
dbhelpers==0.2.0
deap==1.4.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
dill==0.3.8
distro==1.9.0
dm-tree==0.1.8
dotmap==1.3.30
durationpy==0.9
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.9.0.post1
fastapi==0.115.6
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.3
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
google-ai-generativelanguage==0.6.4
google-api-core==2.18.0
google-api-python-client==2.131.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.20.1
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-generativeai==0.5.4
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.68.1
grpcio-status==1.62.1
h11==0.14.0
h5py==3.10.0
heartpy==1.2.7
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.0
httpx-sse==0.4.0
huggingface-hub==0.26.3
humanfriendly==10.0
idna==3.6
imageio==2.34.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
imutils==0.5.4
intel-openmp==2021.4.0
ipykernel==6.29.3
ipython==8.18.1
ipywidgets==8.1.5
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.3.2
jq==1.8.0
json5==0.9.24
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-utils==1.0.13
kiwisolver==1.4.5
kubernetes==31.0.0
langchain==0.3.9
langchain-chroma==0.1.4
langchain-community==0.3.9
langchain-core==0.3.21
langchain-google-community==2.0.3
langchain-huggingface==0.1.2
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
langsmith==0.1.147
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.42.0
Mako==1.3.7
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.23.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.3.2
mlxtend==0.23.1
mmdet==3.3.0
mmh3==5.0.1
mne==1.7.0
monotonic==1.6
mpmath==1.3.0
mrcnn==0.2
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
munch==2.5.0
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
ndindex==1.8
nest-asyncio==1.6.0
networkx==3.2.1
neurokit2==0.2.7
nltk==3.9.1
notebook==7.3.0
notebook_shim==0.2.4
np-utils==0.6.0
numba==0.59.0
numexpr==2.9.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.56.1
opencv-python==4.9.0.80
openpyxl==3.1.2
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.12
overrides==7.7.0
packaging==23.2
panda==0.3.1
pandas==2.1.4
pandas-gbq==0.22.0
pandocfilters==1.5.1
parso==0.8.3
pdfminer==20191125
PeakUtils==1.3.4
pillow==10.2.0
platformdirs==4.2.0
plotly==5.24.1
pooch==1.8.1
posthog==3.7.4
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.5
psutil==5.9.8
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydata-google-auth==1.8.2
pydeck==0.8.1b0
Pygments==2.17.2
pyhht==0.1.0
PyJWT==2.10.1
pyparsing==3.1.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.3
pyreadline3==3.5.4
pyserial==3.5
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3.post1
PyWavelets==1.6.0
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
rcaudio==0.0.3
referencing==0.34.0
regex==2024.4.16
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.2
sentence-transformers==3.3.1
serial==0.0.97
shapely==2.0.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.36
stack-data==0.6.3
starlette==0.41.3
streamlit==1.40.2
streamlit-aggrid==1.0.5
sympy==1.12
tables==3.9.2
tbb==2021.11.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-addons==0.22.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
threadpoolctl==3.2.0
tifffile==2024.2.12
tiktoken==0.8.0
tinycss2==1.2.1
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
transformers==4.46.3
trulens==1.2.9
trulens-apps-langchain==1.2.9
trulens-core==1.2.9
trulens-dashboard==1.2.9
trulens-feedback==1.2.9
trulens_eval==1.2.9
twilio==9.3.7
typeguard==2.13.3
typer==0.15.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.1.0
uvicorn==0.32.1
watchdog==4.0.0
watchfiles==1.0.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==14.1
Werkzeug==3.0.1
wfdb==4.1.2
widgetsnbextension==4.0.13
wrapt==1.14.1
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
